@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*--------- Variables */

:root {
    --gren-color: #7ACC2D;
    --white-color: #ffffff;
    --black-color: #313337;
    /* Space */
    --space: 10px;
    /* Box Shadow */
    --box: 0 0 2px #c1bcbc
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    font-size: 12px;
}

nav {
    background-color: var(--gren-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding-right: var(--space);
}

nav ul li a {
    color: var(--black-color);
    ;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--white-color);
    ;
}

.main_section {
    padding: 4rem;

}

.main_form {
    min-height: calc(100vh - 108px);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex
}

.img_container {
    width: 100%;
    max-width: 200px;
}

footer {
    padding: 20px;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
}

footer p {
    color: var(--white-color);
}

.module_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: 2rem;
}

.modulo_pago_images {
    max-width: 150px;
    margin: 0 auto;
}

p,
label {
    display: block;
    font-size: 12px;
}

input {
    display: block;
    margin: 10px 0 5px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--black-color);
}


.main_button {
    background-color: var(--gren-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #6bb328;
}